<template>
  <div id="game" />
</template>

<script>
import Phaser from 'phaser'

import WorldScene from '../scenes/World'

export default {
  name: 'IndexPage',
  mounted () {
    const config = {
      parent: 'game',
      dom: {
        createContainer: true,
      },
      type: Phaser.AUTO,
      width: '100%',
      height: '100%',
      physics: {
        default: 'arcade',
        arcade: {
          gravity: {
            x: 0,
            y: 0,
          },
          debug: true,
        },
      },
      scene: [
        WorldScene,
      ],
    }

    new Phaser.Game(config)
  },
}
</script>

<style>
  body {
    margin: 0;
    overflow: hidden;
  }
</style>
